.App {
  text-align: center;
}

.App-logo {
  margin-top: 30px;
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-animate {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  font-size: 10px;
}

.Buttons-wrapper {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.Buttons-nav {
  flex: 1;
}

.Buttons-button {
  color: white;
  padding: 10px;
  background-color: darkred;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
